
<ng-doc-root
  [sidebar]="!isLandingPage"
  [noWidthLimit]="isLandingPage"
  [footerContent]="footerContent">
  <ng-doc-navbar [hamburger]="!isLandingPage">
    <a class="brand" routerLink="/" ngDocNavbarLeft>
      <h3>
        <img src="assets/ngx-panemu-table_logo.png" class="inline"/>
        <img src="assets/ngx-panemu-table_text.png" class="inline ml-2"/>
      </h3>
    </a>
    <div @preventInitialChild class="ng-doc-header-controls" ngDocNavbarRight>
      <a
        href="https://github.com/panemu/ngx-panemu-table"
        ng-doc-button-icon
        ngDocTooltip="Repository on GitHub"
        size="large"
        target="_blank">
        <ng-doc-icon [size]="24" customIcon="github" ></ng-doc-icon>
      </a>
    </div>
  </ng-doc-navbar>

  <ng-doc-sidebar></ng-doc-sidebar>
  <router-outlet></router-outlet>

  <ng-template #footerContent>
    <div class="ng-doc-footer">MIT © 2024&nbsp;<a href="https://panemu.com"> Panemu </a>. Powered by&nbsp;<a href="https://ng-doc.com">NgDoc</a></div>
  </ng-template>
</ng-doc-root>