<div class="flex flex-col h-[500px]">
  <div class="flex justify-between mb-2 items-end">
    <panemu-query [controller]="controller"/>
    <panemu-pagination [controller]="controller"/>
  </div>
  <div class="flex-grow overflow-auto">
      <panemu-table [controller]="controller"/>
  </div>
  <div class="min-h-16">
    <div class="text-xs text-gray-500 mt-4 grid grid-cols-2">
      <div>startIndex: {{startIndex}}</div>
      <div>Result row type: {{resultRowType}}</div>
      <div>maxRows: {{maxRows}}</div>
      <div>Result row count: {{resultCount}}</div>
      <div class="col-span-2">tableQuery: {{tableQuery}}</div>
    </div>
  </div>
</div>

<ng-template #countryCell let-row="row" let-column="column">
  <div class="flex items-center gap-2">
    <!-- Use a pipe to avoid executing the formatter multiple time. Pipe is only executed when the input change -->
    <img width="24px" src="assets/flags/{{row[column.field].toLowerCase()}}.svg">
    <span>{{row[column.field] | cellFormatter:row:column:column.formatter}}</span>
  </div>
</ng-template>