<div class="h-[500px] flex flex-col gap-4">
  <div class="flex gap-2  flex-wrap">
    <button class="btn" (click)="idLessOrEqual()">Id &lt;= 5</button>
    <button class="btn" (click)="idLessThan()">Id &lt; 5</button>
    <button class="btn" (click)="idGreaterOrEqual()">Id &gt;= 5</button>
    <button class="btn" (click)="idGreaterThan()">Id &gt; 5</button>
    <button class="btn" (click)="idBetweenInclusive()">5 &gt;= Id &lt;= 10</button>
    <button class="btn" (click)="idBetweenExclusive()">5 &gt; Id &lt; 10</button>
    <button class="btn" (click)="enrolledBetween()">Enrolled Jan 2023</button>
    <button class="btn" (click)="lastLoginBetween()">Last Login 22-25 Mar 2024</button>
    <button class="btn" (click)="nameContains()">Name contains co</button>
  </div>
  <div>
    <panemu-query [controller]="controller"/>
  </div>
  <div class="flex-grow">
    <panemu-table [controller]="controller"/>
  </div>
</div>

<ng-template #footerTemplate let-colSpan="colSpan">
  <th [attr.colspan]="colSpan" class="text-left">
    Total Rows: {{totalRows}}
  </th>
</ng-template>