<div class="h-[500px] flex flex-col gap-4">
  <div class="flex gap-4">
    <button data-test-id="btn1" class="btn" (click)="editFirstRow()">Edit First Row</button>
  </div>
  <div class="flex-grow">
    <panemu-table [controller]="controller"></panemu-table>
  </div>
</div>

<ng-template #sendEmailTemplate let-row="row" let-column="column" let-close="close">
  <div class="grid grid-cols-[1fr_auto] gap-4 p-4 w-[300px] sticky left-4">
    <div class="col-span-2">Send {{column.label}} to {{row.email}}</div>
    <label>Message</label>
    <textarea rows="5" class="w-80 form-input"></textarea>
    <div></div>
    <button class="btn" (click)=close()>Send</button>
  </div>
</ng-template>

<ng-template #actionCellTemplate let-column="column" let-row="row">
  <div class="flex justify-between">
    <button class="action-button" (click)="edit(row)"><span class="material-symbols-outlined text-base leading-5 block">edit</span></button>
    <button class="action-button" (click)="deleteConfirmation(row)"><span class="material-symbols-outlined text-base leading-5 block">delete</span></button>
  </div>
</ng-template>


<ng-template #deleteExpansionRow let-column="column" let-row="row" let-close="close">
  <div class="flex flex-col w-fit m-8 p-8 gap-8 border rounded-lg border-red-300 bg-red-50">
    <div>
      Are you sure to delete above data?
    </div>
    <div class="flex gap-4  justify-end">
      <button class="btn" (click)="doDelete(row); close()">Yes</button>
      <button class="btn" (click)="close()">No</button>
    </div>
  </div>
</ng-template>