<div class="flex flex-col h-[500px] gap-4">
  <div class="flex justify-between items-center">
    <panemu-query [controller]="controller"></panemu-query>
    <button data-test-id="btn-down" (click)="scrollDown()">Scroll to bottom</button>
    <button data-test-id="btn-up" (click)="scrollUp()">Scroll to top</button>
  </div>
  <div class="flex-grow">
    <panemu-table [controller]="controller"></panemu-table>
  </div>
</div>
<ng-template #footerTemplate let-colSpan="colSpan">
  <td [attr.colspan]="colSpan">
    <div class="flex items-center gap-16">
      <span>This is table footer template.</span>
      <button (click)="toFooterComponent()">Switch To Component</button>
    </div>
  </td>
</ng-template>