<h1 mat-dialog-title [class]="titleClass">
  <i [class]="titleIcon"></i>
  {{data.title}}
</h1>
<div mat-dialog-content class="mat-dialog-content mt-4">
  <p class="mb-4 text-sm" [innerHtml]="data.content"></p>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button (click)="close('yes')" cdkFocusInitial class="btn mr-2">{{data.yesLabel}}</button>
  @if (data.noLabel) {
    <button (click)="close('no')" class="btn btn-subtle mr-2">{{data.noLabel}}</button>
  }
  @if (data.cancelLabel) {
    <button (click)="close('cancel')" class="btn btn-subtle">{{data.cancelLabel}}</button>
  }
</div>