<div class="flex flex-col h-[500px]">
  <div class="flex gap-4 mb-2 items-center">
    <div class="text-sm">
      Error Handler
      <select class="form-select" [formControl]="cmbErrorHandler">
        <option value="pts">Table Service (Global)</option>
        <option value="controller">Current Controller (Local)</option>
      </select>
    </div>
    <button class="btn" (click)="reload()">
      @if (loading()) {
      Loading...
    } @else {
      Reload
    }
    </button>
    <div class="text-sm" [class.text-red-600]="counter() % 2" >
        Next reload will {{counter() % 2 ? 'error' : 'success'}}
    </div>
  </div>
  <div class="flex-grow overflow-auto">
      <panemu-table [controller]="controller"/>
  </div>
</div>
