.custom-row-group {
  .panemu-table tbody {

    tr:not(.row-group):not(.selected-row):not(:hover) {
      background-color: white;
    }

    tr.row-group {
      background-color: rgb(246, 246, 246);
    }
  }
}