<div class="flex flex-col h-[500px] gap-4 custom-row-group">
  
  <div class="flex relative justify-between">
    <panemu-query [controller]="controller" />
    <panemu-pagination [controller]="controller" />
  </div>
  <div class="flex-grow overflow-auto">
    <panemu-table [controller]="controller" />
  </div>
  <div class="flex gap-4">
    <button class="btn" (click)="defaultRowGroup()">Default RowGroup</button>
    <button class="btn" (click)="customRowGroupTemplate()">Custom Template (No Pagination)</button>
    <button class="btn" (click)="customRowGroupComponent()">Custom Content Component</button>
    <button class="btn" (click)="customRowGroup()">Custom Component</button>
  </div>
</div>

<ng-template #genderGroupTemplate let-rowGroup>
  <div class="flex items-center">
    <span class="material-symbols-outlined text-2xl ">
      {{rowGroup.data.value == 'M' ? 'male' : 'female'}}
    </span>
    <span>{{rowGroup.data.count}}</span>
  </div>
</ng-template>

<ng-template #genderGroupFooterTemplate let-rowGroup="rowGroup" let-colSpan="colSpan" let-parameter="parameter">
  <td [attr.colspan]="colSpan">
    <span [style.padding-left.rem]="rowGroup.level">
      This is group footer. {{parameter.message}}
    </span>
  </td>
</ng-template>

