.dynamic-row-style {
  .indonesia {
    font-weight: 700;
  }

  tr.selected-row:nth-child(odd), tr.selected-row:nth-child(even) {
    background: inherit;
    color: inherit;
    text-decoration: underline;

    &:hover {
      background-color: inherit;
    }
  }
}