<div class="flex items-center gap-2">

  <!-- You can do this, but it is slower -->
  <!-- {{column.formatter!(row[column.field])}} -->

  <!-- This is faster because it uses pipe to memoize the formatted value -->
  {{row[column.field] | cellFormatter:row:column:column.formatter}}
  <button (click)="click()" class="rounded-md border-none bg-transparent hover:bg-blue-200 active:bg-blue-400">
    <span class="material-symbols-outlined text-base leading-5 block">
      search
    </span>
  </button>
</div>

